<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>Has made <%= @user.ratings.count %> ratings.
  <% if not @user.ratings.count == 0 %>
   Average <%= @user.average_rating %>
  <% end %>
</p>

<h2>Beer Clubs:</h2>
<ul>
<% @user.beer_clubs.each do | club |%>
  <li><%= link_to "#{club.name}", club %></li>
<% end %>
</ul>
<h2>Ratings:</h2>
<ul>
  <% @user.ratings.each do |rating| %>
  <li>
    <%= rating %>
    <% if @user == current_user %>
        <%= link_to "Delete", rating, method: :delete %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
