<h1>Listing beers</h1>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Name', beers_path(order:'name') %></th>
      <th><%= link_to 'Style', beers_path(order:'style') %></th>
      <th><%= link_to 'Brewery', beers_path(order:'brewery') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to "#{beer.name}", beer %></td>
        <td><%= beer.style.name %></td>
        <td><%= link_to "#{beer.brewery.name}", beer.brewery %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) unless current_user.nil? %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } unless current_user.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path unless current_user.nil? %>

<p>
  <%= link_to 'List of breweries', breweries_path %>
</p>