<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navibar">
  <%= link_to 'Breweries', breweries_path %>
  <%= link_to 'Beers', beers_path %>
  <%= link_to 'Ratings', ratings_path %>
</div>

<% if session[:last_rating]. nil? %>
    <p>No rating given</p>
<% else %>
    <p>Previous rating: <%= session[:last_rating] %></p>
<% end %>

<%= yield %>

</body>
</html>
